{% extends 'base.html.twig' %}

{% block title %}Edit Film{% endblock %}

{% block body %}

    <div class="container text-light">
        <h1>Modification Film</h1>
        <div class="d-flex justify-content-around">
            <div class="row-1">
                {{ include('film/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
            </div>
            <div class="text-dark">
                <div class="card-contain d-flex flex-column">
                    <div class="card-img d-flex justify-content-center">
                        <img src="/build/{{ film.image }}" class="img-fluid rounded" alt="img-jeux-vidéo">
                    </div>
                    <div class="card-text d-flex flex-column justify-content-around h-100">
                        <div>
                            <h2 class="text-center">{{ film.name }}</h2>
                            <p>Catégorie : {{ film.category.getName }}</p>
                            {% if film.isAvailable == false %}
                                <p>Sortie prévue le
                                    <strong>{{ film.releaseDate|date('j F Y') }}</strong>
                                </p>
                            {% endif %}
                            <a href="{{ film.link }}">Plus d'information</a>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <a href="{{ path('film_delete', {id: film.id}) }}">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <a href="{{ path('film_index') }}">
            <button class="btn btn-primary">
                Retour à la liste
            </button>
        </a>
    </div>
{% endblock %}
