{% extends 'base.html.twig' %}

{% block title %}Game index{% endblock %}

{% block body %}
    <h1>Film</h1>
    <div class="d-flex flex-row flex-wrap justify-content-around">
        {% for film in films %}
            <div class="card-contain d-flex flex-column">
                <div class="card-img d-flex justify-content-center">
                    <img src="/build/{{ film.image }}"  class="img-fluid rounded" alt="img-jeux-vidéo">
                </div>
                <div class="card-text d-flex flex-column justify-content-around h-100">
                    <div>
                        <h2 class="text-center">{{ film.name }}</h2>
                        <p>Catégorie : {{ film.category.getName }}</p>
                        {% if film.isAvailable == false %}
                            <p>Sortie prévue le
                                <strong>{{ film.releaseDate|date('j F Y') }}</strong>
                            </p>
                        {% endif %}
                        <a href="{{ film.link }}">Plus d'information</a>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="{{ path('film_edit', {id: film.id}) }}">
                            <button class="btn btn-primary">Modifier</button>
                        </a>
                        <a href="{{ path('film_delete', {id: film.id}) }}">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="d-flex justify-content-start mt-5 mb-5 ml-5">
        <a href="{{ path('film_new') }}">
            <button class="btn btn-primary">Ajouter un film</button>
        </a>
    </div>
{% endblock %}
