{% extends 'base.html.twig' %}

{% block title %}Edit Film{% endblock %}

{% block body %}
    <h1>Modification Série</h1>
    <div class="container">
        <div class="d-flex justify-content-around">
            <div class="row-1">
                {{ include('game/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
            </div>
            <div>
                <div class="card-contain d-flex flex-column">
                    <div class="card-img d-flex justify-content-center">
                        <img src="/build/{{ game.image }}" class="img-fluid rounded" alt="img-jeux-vidéo">
                    </div>
                    <div class="card-text d-flex flex-column justify-content-around h-100">
                        <div>
                            <h2 class="text-center">{{ game.name }}</h2>
                            <p>Catégorie : {{ game.category.getName }}</p>
                            {% if game.isAvailable == false %}
                                <p>Sortie prévue le
                                    <strong>{{ game.releaseDate|date('j F Y') }}</strong>
                                </p>
                            {% endif %}
                            <a href="{{ game.link }}">Plus d'information</a>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <a href="{{ path('game_delete', {id: game.id}) }}">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <a href="{{ path('game_index') }}">
            <button class="btn btn-primary">
                Retour à la liste
            </button>
        </a>
    </div>
{% endblock %}
