{% extends 'base.html.twig' %}

{% block title %}Serie index{% endblock %}

{% block body %}
    <h1>Serie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>IsAvailable</th>
                <th>Image</th>
                <th>Link</th>
                <th>ReleaseDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for serie in series %}
            <tr>
                <td>{{ serie.id }}</td>
                <td>{{ serie.name }}</td>
                <td>{{ serie.isAvailable ? 'Yes' : 'No' }}</td>
                <td>{{ serie.image }}</td>
                <td>{{ serie.link }}</td>
                <td>{{ serie.releaseDate ? serie.releaseDate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('serie_show', {'id': serie.id}) }}">show</a>
                    <a href="{{ path('serie_edit', {'id': serie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('serie_new') }}">Create new</a>
{% endblock %}
