{% extends 'base.html.twig' %}

{% block title %}Serie{% endblock %}

{% block body %}
    <h1>Serie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ serie.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ serie.name }}</td>
            </tr>
            <tr>
                <th>IsAvailable</th>
                <td>{{ serie.isAvailable ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ serie.image }}</td>
            </tr>
            <tr>
                <th>Link</th>
                <td>{{ serie.link }}</td>
            </tr>
            <tr>
                <th>ReleaseDate</th>
                <td>{{ serie.releaseDate ? serie.releaseDate|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('serie_index') }}">back to list</a>

    <a href="{{ path('serie_edit', {'id': serie.id}) }}">edit</a>

    {{ include('serie/_delete_form.html.twig') }}
{% endblock %}
